{% extends "base.html" %}

{% block content %}

<h2 class="index_h2">Все реплики из бота</h2>

<p>Ты пробрался в свою школу с одним заданием: прокрасться в кабинет информатики!
    Ты зашел через главный вход, потому что твои напарники предварительно отвлекли охранника и выключили камеры.</p>
<p>У тебя выбор: пойти направо или налево?</p>
<p>Tы пришел к лестнице: пойти правее или подняться?</p>
<p>Ты пришел к лестнице и столовой. Зайти в столовую или подняться на 2 этаж?</p>
<p>Ты зашел в столовую и нашел вилку! Взять её или нет?</p>
<p>Ты взял вилку. Может и пригодится!</p>
<p>Ты не подобрал вилку. Зачем она в пустой школе?</p>
<p>Ты зашел в столовую и не нашел ничего интересного</p>
<p>Ты пришел на 2 этаж. Пойти вперед или направо?</p>
<p>Ты пришел на 2 этаж. Пойти налево или вернуться обратно?</p>
<p>Tы пришел к большому актовому залу, почти как в театре: посидеть в нем или вернуться обратно?</p>
<p>Ты зашел в актовый зал и между сидений нашел ключ. Взять его?</p>
<p>Ты подобрал ключ. Интересно, может он что-то откроет?</p>
<p>Ты не взял ключ.</p>
<p>Ты зашел в актовый зал и сел на удобные сиденья</p>
<p>Ты пришел в длинный коридор. Пойти вперед?</p>
<p>Ты прошел немного дальше по коридору и пока не видишь ничего интересного. Пойти вперед?</p>
<p>Ты прошел еще дальше. Вперед?</p>
<p>Ты прошел подальше. Вперед?</p>
<p>Ты все еще идешь по коридору. Вперед?</p>
<p>Это очень длинный коридор. Дальше?</p>
<p>Это оооооооочень длинный коридор. Вперед?</p>
<p>Конца коридора еще не видно. Вперед?</p>
<p>Тебе не надоело? Вперед?</p>
<p>Опять вперед?</p>
<p>Все же это было не зря. Ты нашел линейку. Смешно, правда?</p>
<p>Ты уже был здесь. Ничего интересного не осталось</p>
<p>Ты вернулся к развилке.</p>
<p>Ты нашел какой-то коридор. Вперед?</p>
<p>Ты идешь по коридору. Вперед?</p>
<p>Ты все еще идешь по коридору. Вперед?</p>
<p>Ты опять идешь по коридору. Вперед?</p>
<p>Ты снова идешь по коридору. Вперед?</p>
<p>Ты продолжаешь идти по коридору. Вперед?</p>
<p>Ты не заканчиваешь идти по коридору. Вперед?</p>
<p>Не может же этот коридор быть бесконечным. Вперед?</p>
<p>Вдали виден конец коридора. Вперед?</p>
<p>Ты нашел на полу ластик. И зачем он?</p>
<p>Здесь нет ничего интересного</p>
<p>Возвращайтесь снова! (Ваш прогресс не сохранился)</p>
<p>Ураа! Ты нашел кабинет информатики!... Но вот проблема! Он закрыт! Ты этого не ожидал, надо искать ключ</p>
<p>Ты достал ключ и... открыл кабинет информатики! Ты зашел в кабинет и включил компьютер, вставил флешку и...
       включилось видео смешных котов?! Вдруг зазвенел будильник и ты проснулся!
       А нечего перед сном кушать, а то всякая чушь будет сниться!</p>
<p>Поздравляю! Вы прошли игру! Собранно предметов: 0/3. Рекомендуем поискать пасхалки!</p>
<p>Поздравляю! Вы прошли игру! Собранно предметов: 1/3. Рекомендуем поискать пасхалки!</p>
<p>Поздравляю! Вы прошли игру! Собранно предметов: 2/3. Рекомендуем поискать пасхалки!</p>
<p>Поздравляю! Вы прошли игру! Собранно предметов: 3/3. Если хотите, можете сыграть снова!</p>

{% endblock %}
